body {
	background-color: black;
}
h1 {
	font-size: 75px;
	font-family: rift-soft, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: white;
	/*padding-left: -50px;*/
	margin-top: 50px;
	padding-top: 50px;
	letter-spacing: 5px;
	text-align: center;
}
p {
	font-family: din-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: white;
	font-size: 20px;
	padding-left: 25px;
	margin-left: 25px;
	margin-right: 10%;
	padding-top: 35px;
}
nav{ 
	padding-top:20px; }
a {
	padding-right: 15px;
	color: white;
	margin-top: 25px;
	letter-spacing: 2.5px;
}
a:hover {
	color: yellow;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
h2 {
	color: white;
	font-family: rift-soft, sans-serif;
	font-size: 50px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 5px;
	width: 100%;
	text-align: center;
}
header {
	color: white;
	font-family: rift-soft, sans-serif;
	font-size: 25px;
	font-weight: 400;
	font-style: normal;
	text-align: right;
	margin-right: 10%;
}