body {
	background-image: url("texture.jpeg");
	/*background-color: black;*/
	height: 1200px;
}
h1 {
	font-size: 75px;
	font-family: rift-soft, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: white;
	margin-top: 50px;
	padding-top: 50px;
	letter-spacing: 5px;
	text-align: left;
	padding-left: 25px;
	margin-left: 25px;
}
p {
	font-family: din-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: white;
	font-size: 20px;
	padding-left: 25px;
	margin-left: 25px;
	margin-right: 10%;
	max-width: 700px;
	display: inline-block;
}
header {
	color: white;
	font-family: rift-soft, sans-serif;
	font-size: 25px;
	font-weight: 400;
	font-style: normal;
	text-align: right;
	margin-right: 10%;
}
a {
	padding-right: 15px;
	color: white;
	margin-top: 25px;
	letter-spacing: 2.5px;
	text-decoration: none;
}
div {
	display: inline-block;
	float:left;
	position: relative;

}
.georges {
	margin-right: 50px;
  	align-items: center;
  	margin-bottom: 50px;
  	max-width: 500px;
  	margin-top: 70px;
  	margin-left: 50px;
  	width: 40%;
}
.moon {
	margin-right: 50px;
  	align-items: center;
  	margin-bottom: 50px;
  	max-width: 500px;
  	margin-top: 70px;
  	margin-left: 50px;
  	width: 40%;
}
nav{ 
	padding-top:20px; }
a:hover {
	color: red;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
h2 {
	color: white;
	font-family: rift-soft, sans-serif;
	font-size: 50px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 5px;
	width: 100%;
	text-align: center
}
.text {
	/*float: right;*/
	display: inline-block;
	width: 50%;
}
footer {
	color: white;
	font-family: din-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 10px;
	text-align: bottom;
}
img {
	width: 100%;
	display: inline-block;
	float: left;
	display: table-row;
	display: table-cell;
}
/*div {
	display: table-row;
}*/
.outer {
	width: 100vw;
	margin: 0;
}
@media (max-width: 600px){
	div.text {
		width: 80%;
	}
}
.set {
	width: full-width;
	margin-bottom: 35px;
}
.butt {
	width: full-width;
	margin-bottom: 45px;
}
.newbutt {
	width: full-width;
	margin-top: 35px;
}
.eerie {
	width: full-width;
	margin-top: 40px;
	margin-bottom: 40px;

}





