h1 {
	font-family: "cubano";
	font-size: 75px;
	text-align: left;
	padding-left: 15%;
}
section {
	font-family: "din alternate";
	font-size: 15pt;
	color: #696969;
	padding-left: 15%;
	padding-right: 15%;
}
body{
	background-color: #e5f2e5;
}
h2 {
	font-size: 15pt;
	color: #145061;

}
h3 {
	font-size: 15pt;
	color: #ff0970;
}
p {
	padding-bottom: 2%;
}
h4 {
	font-size: 15pt;
	color: #00aecc;
}
h5 {
	font-size: 12pt;
	color: #696969;
	font-family: "acumin pro condensed";
	text-align: left;
	padding-left: 15%;
	margin-top: 0px;

}

