header {
	font-family: "din alternate";
	font-size: 100px;
	color: red;
	text-align: left;
	padding-left:20%;
	padding-top:20px;
}
h1 {
	font-family: "din alternate";
	font-size: 20px;
	color: #C2DFFF;
	text-align: left;
	padding-left: 20%;
}
body {
	background-image: url("stars_background_2.jpg");
        background-repeat:no-repeat;
        background-size: cover;
}
section {
	color: white;
	font-family: "din alternate";
	text-align: left;
	padding-left:20%;
	line-height: 10px;
}
h2 {
	font-family: "din alternate";
	color: #cccccc;
	padding-left: 20%;
	padding-bottom: 10%;
	font-size: 12px;
}